* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'DINPro_Black';
  src: url(./assets/fonts/DINPro_Black.otf);
}

@font-face {
  font-family: 'DINPro_Bold';
  src: url(./assets/fonts/DINPro_Bold.otf);
}

@font-face {
  font-family: 'DINPro_Regular';
  src: url(./assets/fonts/DINPro-Regular_13937.ttf);
}

@font-face {
  font-family: 'Knockout_JuniorBantmanwt';
  src: url(./assets/fonts/Knockout_HTF27-JuniorBantamwt_Regular.otf);
}

@font-face {
  font-family: 'Knockout_JuniorFeatherwt';
  src: url(./assets/fonts/Knockout_HTF28-JuniorFeatherwt_Regular.otf);
}

@font-face {
  font-family: 'Knockout_FullFeaterwt';
  src: url(./assets/fonts/Knockout_HTF68-FullFeatherwt_Regular.otf);
}

@font-face {
  font-family: 'Lato';
  src: url(./assets/fonts/Lato-Regular.ttf);
}

h1, h2, h3, h4, h5, h6, span, div, p, strong, small {
  font-family: 'Roboto', sans-serif !important;
}

input, select, button {
  outline: none;
}
